/* Universal Styles */

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  width: 100%;
}

/* Header */

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
  top: 0px;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 10px;
}

.logo img{
  height: 50px;
}

header nav {
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  width: 375px;
}

a {
  color: gray;
  text-decoration: underline;
  font-size: 24px;
}

/* Mission Section */

.mission {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission.image-content {
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  position: relative;
  top: 60px;
}

.mission.image-content .text-content {
  width: 1200px;
  background-color: black;
  height: 140px;
  text-align: center;
}

/* Tea of the Month Section */

.teaOfmonth {
  width: 100%;
  height: 700px;
  position: relative;
  top: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.teas {
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tea-choices {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: wrap;
}

.image-content img {
  height: 200px;
  width: 300px;
}

.image-content h4 {
  margin: 10px;
}

/* Locations Section */

.locations {
  width: 100%;
  position: relative;
  top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.locations .image-content {
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
}

.boxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.location {
  width: 300px;
  height: 300px;
  background-color: black;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Footer */

.footer {
  position: relative;
  top: 200px;
  height: 200px;
}

.copyright {
  position: relative;
  margin: 200px 0px 0px 20px;
  text-align: left;
}
